<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBraOi6kT-mo4o1fvAAyda1gRGdvd-dhuI</string>
	<key>GCM_SENDER_ID</key>
	<string>317799459776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agrirent.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agrirent-5e481</string>
	<key>STORAGE_BUCKET</key>
	<string>agrirent-5e481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317799459776:ios:c8d329e8698227a72c7625</string>
</dict>
</plist>